.ItemName {
    font-size: 24px;
    font-weight: bold;
}

.editName {
    font-size: 24px;
    font-weight: bold;
}

.labelText {
    font-weight: normal;
}

.spanErr {
    font-weight: normal;
    color: red;
    font-size: 14px;
}

.tableEdit {
    text-align: left;
}